// Icons


.ri-airbnb:before {
	content:"\f101";
}



.ri-bookingcom:before {
	content:"\f102";
}



.ri-homeaway:before {
	content:"\f103";
}



.ri-tripadvisor:before {
	content:"\f104";
}



.ri-baby-care:before {
	content:"\f105";
}



.ri-parking-o:before {
	content:"\f106";
}



.ri-parking:before {
	content:"\f107";
}



.ri-pooltable:before {
	content:"\f108";
}



.ri-equestrian:before {
	content:"\f109";
}



.ri-golf:before {
	content:"\f10a";
}



.ri-swimming-pool-indoor:before {
	content:"\f10b";
}



.ri-swimming-pool:before {
	content:"\f10c";
}



.ri-airco:before {
	content:"\f10d";
}



.ri-bath:before {
	content:"\f10e";
}



.ri-bed:before {
	content:"\f10f";
}



.ri-pets:before {
	content:"\f110";
}



.ri-shower:before {
	content:"\f111";
}



.ri-wifi:before {
	content:"\f112";
}



.ri-airport:before {
	content:"\f113";
}



.ri-taxi:before {
	content:"\f114";
}



.ri-mastercard:before {
	content:"\f115";
}



.ri-visa:before {
	content:"\f116";
}

