// Icons


.ri-airbnb:before {
	content:"\e600";
}



.ri-bookingcom:before {
	content:"\e605";
}



.ri-homeaway:before {
	content:"\e608";
}



.ri-tripadvisor:before {
	content:"\e611";
}



.ri-baby-care:before {
	content:"\e613";
}



.ri-parking-o:before {
	content:"\e60a";
}



.ri-parking:before {
	content:"\e60b";
}



.ri-equestrian:before {
	content:"\e606";
}



.ri-golf:before {
	content:"\e607";
}



.ri-swimming-pool-indoor:before {
	content:"\e60e";
}



.ri-swimming-pool:before {
	content:"\e60f";
}



.ri-airco:before {
	content:"\e601";
}



.ri-bath:before {
	content:"\e603";
}



.ri-bed:before {
	content:"\e604";
}



.ri-pets:before {
	content:"\e60c";
}



.ri-shower:before {
	content:"\e60d";
}



.ri-wifi:before {
	content:"\e613";
}



.ri-airport:before {
	content:"\e602";
}



.ri-taxi:before {
	content:"\e610";
}



.ri-mastercard:before {
	content:"\e609";
}



.ri-visa:before {
	content:"\e612";
}

